:host {
  display: flex;
  flex-wrap: wrap;
}

@mixin markup {
  width: 50%;
  height: calc(100vh - 81px);
}

.title {
  width: 100%;
  height: 81px;

  h1 {
    display: block;
    width: max-content;
    margin-left: calc(100%/4 - 67px);
  }
}

.control-info {
  @include markup;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  @include markup;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.list {
  min-width: 300px;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 15px 0 15px 15px;
  }
}

@media (max-width: 625px) {
  :host {
    display: block;
  }

  .title h1 {
    margin-left: calc(100%/2 - 67px);
  }

  .control-info {
    width: 100%;
    height: auto;
  }

  .info {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}
