<div class="dashboard">

  <h1>Dashboard</h1>

  <div class="search-container">

    <div class="form-input-group input">
      <input
        type="text"
        (input)="getCity($event)"
      >
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Search location</label>
    </div>


    <ul class="card list" *ngIf="data.length">
      <li
        *ngFor="let item of data"
        (click)="selectItem(item)"
        [class.active]="item.objectID === select?.objectID"
      >
        {{item.locale_names.default}}
      </li>
    </ul>

    <button class="button button-position" (click)="submit()" [disabled]="!data.length">Submit</button>

  </div>

</div>

<div class="image container-bg">
</div>
