<div class="dashboard">

  <h1>Dashboard</h1>

  <div class="search-container">

    <input
      type="text"
      class="input"
      placeholder="Search location"
      (input)="getCity($event)"
    >

    <ul class="list" *ngIf="data.length">
      <li
        *ngFor="let item of data"
        (click)="selectItem(item)"
        [class.active]="item.objectID === select?.objectID"
      >
        {{item.locale_names.default}}
      </li>
    </ul>

    <button class="button" (click)="submit()" [disabled]="!data.length">Submit</button>

  </div>

</div>

<div class="image">
</div>
