:host {
  display: flex;
  flex-wrap: wrap;
}

$height: 65vh;

@mixin markup {
  width: 50%;
  height: 100vh;
}

@mixin font-size {
  font-size: 1.2rem;
}

.search-container {
  width: 300px;
  height: $height;
  position: relative;
}

.input {
  height: 2rem;
}

.list {
  width: 100%;
  height: $height * 0.7;
  list-style: none;
  padding: 0;
  overflow: auto;
  scroll-behavior: auto;
  transition: 0.3s;

  & li {
    @include font-size;
    padding: 7px 5px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: gray;
    }

    &.active {
      background-color: aqua;
    }
  }
}

.dashboard {
  @include markup;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  @include markup;
}

@media (max-width: 625px) {
  .dashboard {
    width: 100%;
  }

  .image {
    display: none;
  }
}
